<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <appSettings>
    <add key="conStr" value="SERVER=.;trusted_connection=true;database=uniform"/>
    <add key="PathUpload" value="\\\\liclocal\\upload\\images\\SunLaw"/>
    <add key="ImgPathShow" value="http://static.sunlaw.com.vn/upload/images/SunLaw"/>
    <add key="LogPath" value="D:\Source\Lic\SunLaw"/>
    <add key="PageSizeAdmin" value="30"/>
    <add key="PathError" value="admin/Error.aspx"/>
    <add key="PathNotRight" value="admin/MessengerRight.aspx"/>
    <add key="PathAdmin" value="admin/"/>
    <add key="LoginAdmin" value="admin/DangNhap.aspx"/>
    <add key="ServerSolr" value="sunlaw.com.vn:1989/solr/"/>
    <add key="BodyMail4Contact" value="Cảm ơn quý khách đã tin dùng dịch vụ của chúng tôi.  &lt;br&gt;Chúng tôi sẽ liên lạc lại với quý khách trong thời gian sớm nhất. &lt;br&gt; &lt;br&gt;Chúc quý khách an khang thịnh vượng! &lt;br&gt; &lt;br&gt;Xin cảm ơn. &lt;br&gt; &lt;br&gt;Website: &lt;a href='http://lic.vn' target='_blank'&gt;http://lic.vn&lt;/a&gt; "/>
    <add key="ContactMail4" value="contact@lic.vn"/>
    <add key="TrigerRowsSolr" value="1"/>

    <add key="ImagePromotion" value="/Images/Promotion/"/>
    <add key="ImageAlbum" value="/Images/Album/"/>
    <add key="ImageProduct" value="/Images/Product/"/>
    <add key="NoImage" value="/Images/no_pic.png"/>
    <add key="ImageSlideshow" value="/Images/slideshow/"/>    
  </appSettings>
  <connectionStrings/>
  <urlrewritingnet rewriteOnlyVirtualUrls="false" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--<add name="RewriteToLang" virtualUrl="^~/website/lang-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/website/lang.aspx?LangID=$1" ignoreCase="true"/>      
      -->
      <add name="trangchu" virtualUrl="^~/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx" ignoreCase="true"/>
      
      <add name="catesanpham" virtualUrl="^~/san-pham.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      <add name="catesanpham2" virtualUrl="^~/san-pham/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      <add name="chitietsp" virtualUrl="^~/san-pham/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="categioithieu" virtualUrl="^~/gioi-thieu.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx" ignoreCase="true"/>
      <add name="categioithieu2" virtualUrl="^~/gioi-thieu/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx" ignoreCase="true"/>
      <add name="chitietgioithieu" virtualUrl="^~/gioi-thieu/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailabout.aspx?d=$4" ignoreCase="true"/>
      
      <add name="catetuvan" virtualUrl="^~/tu-van.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx" ignoreCase="true"/>
      
      <add name="catetintuc" virtualUrl="^~/tin-tuc.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx" ignoreCase="true"/>
      <add name="tintucchitiet" virtualUrl="^~/tin-tuc/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailnews.aspx?d=$4" ignoreCase="true"/>
       <add name="tintucsubmenu" virtualUrl="^~/tin-tuc/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx?c=$2" ignoreCase="true"/>
      
      <add name="banggia1" virtualUrl="^~/bang-gia.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="banggia2" virtualUrl="^~/bang-gia/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx?c=$2" ignoreCase="true"/>
      <add name="banggiachitiet" virtualUrl="^~/bang-gia/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailprice.aspx?d=$4" ignoreCase="true"/>

      <add name="tuyendung" virtualUrl="^~/tuyen-dung.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/career.aspx" ignoreCase="true"/>
      <!--sub category-->
     
      

      
      <add name="tintuc2" virtualUrl="^~/tin-tuc/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
            
      

    </rewrites>
  </urlrewritingnet>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
       
		
     -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure htm error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>

      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule,UrlRewritingNet.UrlRewriter"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"  />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <handlers>
      <add
              name="htmHandler"
              path="*.htm"
              verb="*"
              modules="IsapiModule"
              scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"
              resourceType="Unspecified"
              preCondition="" />

    </handlers>
  </system.webServer>
</configuration>
