<!--<?xml version="1.0"?>
  <urlrewritingnet rewriteOnlyVirtualUrls="true"
                        contextItemsPrefix="QueryString"
                        defaultPage=""
                        defaultProvider="RegEx"
                        xmlns="http://www.urlrewriting.net/schemas/config/2006/07">

    <rewrites>
      <add name="trangchu" virtualUrl="^~/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx" ignoreCase="true"/>

      <add name="sanpham1" virtualUrl="^~/san-pham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      <add name="sanpham2" virtualUrl="^~/san-pham/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="sanpham3" virtualUrl="^~/san-pham/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>      
      <add name="sanphamchitiet" virtualUrl="^~/san-pham/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="banggia1" virtualUrl="^~/bang-gia.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="banggia2" virtualUrl="^~/bang-gia/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="sanpham3" virtualUrl="^~/bang-gia/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="banggiachitiet" virtualUrl="^~/bang-gia/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="tuvan1" virtualUrl="^~/tu-van.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx" ignoreCase="true"/>
      <add name="tuvan2" virtualUrl="^~/tu-van/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="tuvan3" virtualUrl="^~/tu-van/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="tuvanchitiet" virtualUrl="^~/tu-van/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="tuyendung" virtualUrl="^~/tuyen-dung.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/career.aspx" ignoreCase="true"/>
      <add name="tuyendung2" virtualUrl="^~/tuyen-dung/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="tuyendung3" virtualUrl="^~/tuyen-dung/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="tuyendungchitiet" virtualUrl="^~/tuyen-dung/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="tintuc1" virtualUrl="^~/tin-tuc.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx" ignoreCase="true"/>
      <add name="tintuc2" virtualUrl="^~/tin-tuc/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="tintuc3" virtualUrl="^~/tin-tuc/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="tintucchitiet" virtualUrl="^~/bang-gia/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      
      <add name="gioithieu" virtualUrl="^~/gioi-thieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx" ignoreCase="true"/>
      <add name="gioithieu2" virtualUrl="^~/gioi-thieu/(.*)-c(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>
      <add name="gioithieu3" virtualUrl="^~/gioi-thieu/(.*)-c(.+)p(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproducts.aspx" ignoreCase="true"/>
      <add name="gioithieuchitiet" virtualUrl="^~/gioi-thieu/(.+)-a(.+)b(.+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>

    </rewrites>
  </urlrewritingnet>-->
