<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <appSettings>
    <add key="conStr" value="KeWe/EUPDobD78qcoCwa69Um9Uhc9kQhNKc4+E//lqsFaS/S3dcQd5BzHBOINZe1HhHvsHNCOk3d4X4k+F3G6Q=="/>
    <add key="PageSizeAdmin" value="50"/>
    <add key="PageSizeNews" value="10"/>
    <add key="PageSizeProduct" value="30"/>
    <add key="PathError" value="admin/Error.aspx"/>
    <add key="PathNotRight" value="admin/MessengerRight.aspx"/>
    <add key="PathAdmin" value="admin/"/>
    <add key="BodyMail4Contact" value="Cảm ơn quý khách đã tin dùng dịch vụ của chúng tôi.  &lt;br&gt;Chúng tôi sẽ liên lạc lại với quý khách trong thời gian sớm nhất. &lt;br&gt; &lt;br&gt;Chúc quý khách an khang thịnh vượng! &lt;br&gt; &lt;br&gt;Xin cảm ơn. &lt;br&gt; &lt;br&gt;Website: &lt;a href='http://lic.vn' target='_blank'&gt;http://lic.vn&lt;/a&gt; "/>
    <add key="ContactMail4" value="contact@lic.vn"/>

    <add key="ImagePromotion" value="/Images/Promotion/"/>
    <add key="ImageAlbum" value="/Images/Album/"/>
    <add key="ImageCategoryProduct" value="/Images/CategoryProduct/"/>
    <add key="ImageProduct" value="/Images/Product/"/>
    <add key="NoImage" value="/Images/no_pic.png"/>
    <add key="ImageSlideshow" value="/Images/slideshow/"/>
    <!--facebook key-->
    <add key="fbadmins" value="100003610950490"/>
    <add key="fbsitename" value="Vui mua sắm cùng Rồng bay"/>
    <add key="AbsoluteNoImagePath" value="http://kenh14.vcmedia.vn/zoom/120_75/inb6ULPy7drgchwnHVkyHwYtZZQrW/Image/2013/02/vet-75b9b.jpg"/>
  </appSettings>
  <connectionStrings/>
  
  <urlrewritingnet rewriteOnlyVirtualUrls="false" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--<add name="RewriteToLang" virtualUrl="^~/website/lang-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/website/lang.aspx?LangID=$1" ignoreCase="true"/>      
      -->
      <add name="trangchu" virtualUrl="^~/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx" ignoreCase="true"/>

      <add name="catesanpham" virtualUrl="^~/san-pham.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx" ignoreCase="true"/>
      <add name="chitietsp" virtualUrl="^~/san-pham/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailproduct.aspx?d=$4&amp;c=$2" ignoreCase="true"/>
      <add name="catesanpham1" virtualUrl="^~/san-pham/(.*)-c(.+)-p(.+).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?c=$2&amp;p=$3" ignoreCase="true"/>
      <add name="catesanpham2" virtualUrl="^~/san-pham/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?c=$2" ignoreCase="true"/>
      <add name="catesanpham5" virtualUrl="^~/san-pham-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products.aspx?c=0&amp;p=$1" ignoreCase="true"/>
      
      <add name="categioithieu" virtualUrl="^~/gioi-thieu.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx" ignoreCase="true"/>
      <add name="ctgt" virtualUrl="^~/gioi-thieu/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailabout.aspx?d=$4&amp;c=$2" ignoreCase="true"/>
      <add name="categioithieu2" virtualUrl="^~/gioi-thieu/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx?c=$2" ignoreCase="true"/>
      
      
      <add name="catetuvan" virtualUrl="^~/tu-van.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx" ignoreCase="true"/>
      <add name="catetuvan4" virtualUrl="^~/tu-van-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx?p=$1" ignoreCase="true"/>
      <add name="catetuvan1" virtualUrl="^~/tu-van/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailconsult.aspx?d=$4&amp;c=$2" ignoreCase="true"/>
      <add name="catetuvan3" virtualUrl="^~/tu-van/(.*)-c(.*)-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx?c=$2&amp;p=$3" ignoreCase="true"/>
      <add name="catetuvan2" virtualUrl="^~/tu-van/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/consulting.aspx?c=$2" ignoreCase="true"/>
 
      
      <add name="catetintuc" virtualUrl="^~/tin-tuc.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx" ignoreCase="true"/>      
      <add name="tintucchitiet" virtualUrl="^~/tin-tuc/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailnews.aspx?d=$4&amp;c=$2" ignoreCase="true"/>
      <add name="tintucsubmenupager" virtualUrl="^~/tin-tuc/(.*)-c(.*)-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx?c=$2&amp;p=$3" ignoreCase="true"/>
      <add name="catetintucpager" virtualUrl="^~/tin-tuc-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx?c=0&amp;p=$1" ignoreCase="true"/>
      <add name="tintucsubmenu" virtualUrl="^~/tin-tuc/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/news.aspx?c=$2" ignoreCase="true"/>
      
      
      
      <add name="banggiachitiet" virtualUrl="^~/bang-gia/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailprice.aspx?d=$4" ignoreCase="true"/>
      <add name="banggia2" virtualUrl="^~/bang-gia/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx?c=$2" ignoreCase="true"/>
      <add name="banggia1" virtualUrl="^~/bang-gia.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>

      <add name="tuyendung" virtualUrl="^~/tuyen-dung.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/career.aspx" ignoreCase="true"/>      
      <add name="tuyendung3" virtualUrl="^~/tuyen-dung/(.*)-c(.*)/(.*)-d(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/detailcareer.aspx?d=$4&amp;c=$2" ignoreCase="true"/>
      <add name="tuyendung2" virtualUrl="^~/tuyen-dung/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/career.aspx?c=$2" ignoreCase="true"/>
      <!--sub category-->
     
      

      
      <add name="tintuc2" virtualUrl="^~/tin-tuc/(.*)-c(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/list-price.aspx" ignoreCase="true"/>

      <add name="loi" virtualUrl="^~/404.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/404.aspx" ignoreCase="true"/>
      <add name="khuyenmai" virtualUrl="^~/dang-ky-nhan-khuyen-mai.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/saleoff.aspx" ignoreCase="true"/>

    </rewrites>
  </urlrewritingnet>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="404.htm">
        <error statusCode="403" redirect="404.htm" />
        <error statusCode="404" redirect="404.htm" />
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>

      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule,UrlRewritingNet.UrlRewriter"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"  />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <handlers>
      <add
              name="htmHandler"
              path="*.htm"
              verb="*"
              modules="IsapiModule"
              scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"
              resourceType="Unspecified"
              preCondition="" />

    </handlers>
  </system.webServer>
</configuration>
